//Variables
$yellow-color: #edef1ad4;
$main-font: "Open Sans", sans-serif;
$text-shadow: 3px 2px 6px #6b7c34;
$alien-green: #01ff12;

$ipad: 768px;
@mixin ipadView {
  @media (min-width: #{$ipad}) {
    @content;
  }
}
////////////////////////

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 264px;
  // background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRebCS--a-3qxujKzYdd30_6iiQrDvIsuLgYVctnqVExwh5waql2w');
  background-image: url("../images/astronomy-constellation-dark-998641.jpg");
  // background-color:black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $main-font;
  text-transform: uppercase;

  @include ipadView {
    font-size: 1.1em;
  }
}

h1 {
  color: $yellow-color;
  text-shadow: $text-shadow;
}

.game {
  margin-top: 20px;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .quadrant {
      height: 100px;
      width: 100px;
      margin: 3px;
      transition: ease-in-out 0.2s;

      &:hover {
        cursor: pointer;
      }

      @include ipadView {
        height: 130px;
        width: 130px;
        margin: 4px;
      }
    }
  }
}

.green {
  background-color: #008000db;
  border-top-left-radius: 46px;
  border-bottom-right-radius: 15px;
}

.yellow {
  background-color: #ffff00c4;
  border-top-right-radius: 46px;
  border-bottom-left-radius: 15px;
}

.red {
  background-color: #ff0000d1;
  border-bottom-left-radius: 46px;
  border-top-right-radius: 15px;
}

.blue {
  background-color: #0000ffe0;
  border-bottom-right-radius: 46px;
  border-top-left-radius: 15px;
}

.click-animation {
  // box-shadow: 0 0 13px black;
  box-shadow: inset 0 0 3px 4px black;
  // transform: scale(1.01);
}

.start-game {
  margin-top: 10px;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #3a353cb8;
  color: $alien-green;
  font-size: 1.2em;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 16px 0px #5c7274;
    transition: ease-out 0.3s;
  }
}

.turn {
  margin-top: 10px;

  .computers-turn {
    display: none;
  }

  .your-turn {
    display: none;
  }
}

.game-over {
  display: none;
  color: red;
  font-size: 2em;
  text-shadow: 4px 2px 9px #d01414;
}

.score,
.your-turn,
.computers-turn {
  font-size: 1.1em;
  color: #fffffffc;
  text-shadow: $text-shadow;
}

.score {
  margin-top: 15px;
}
